body {
  padding: 0;
  margin: 0;
  font-style:Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}
.modal{
  display: none;
  position: absolute;
  background: grey;
  opacity: 0.9;
  z-index: 100;
  width: 100%;
  overflow: hidden;
  height: 100%;
  top:0;
}
.modalarea{
  padding-top: 5%;
  background: aquamarine;
  width: 70%;
  height: 70%;
  font-size: 20px;
  margin-top: 10%;
  margin-left: 15%;
  position: relative;
   text-align: center;
  font-family: Courier, monospace;
}
.form-control{
  padding: 10px 25% 10px 0;
  margin: 15px;
  margin-left: 29%;
  border-radius: 5px;
  display: block;

}
#politics {
  display: inline-block;
  max-width: 50%;
}
textarea{
  max-width: 500px;
  max-height: 200px;
  width:19%;
  height: 45%;
}
p {
  color:green;
}
.close{
  float: right;
  color: white;
  padding: 5px;
  cursor: pointer;
  position: relative;

}
.btn {
  padding: 10px 15% 10px 15%;
}
.btn:hover {
  background-color:rgb(209, 207, 207) ;
  color: black;
  transition: 1s ease;

}
@media (max-width: 500px) {
  .form-control{
  padding: 10px 20% 10px 0;
  margin: 15px;
  margin-left: 15%;
  border-radius: 5px;
  display: block;

}
.modalarea{
  padding-top: 5%;
  background: aquamarine;
  width: 90%;
  height: 80%;
  font-size: 20px;
  margin-top: 10%;
  margin-left: 5%;
  position: relative;
   text-align: center;
}
textarea{
  max-width: 500px;
  max-height: 200px;
  width:60%;
  height: 100%;
}
}
